<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Navigation template</title>
</head>
<body>
{% block navigation %}

 <ul style="list-style-type:circle;">
     <li><a href="/">home</a></li>
     <li><a href="/database">database</a></li>
     <li><a href="/doesnt_exist">404 test</a></li>
     <li><a href="/crash_the_server">500 test</a></li>

     {# Als je een link wil toevoegen, vergeet dan niet een route te maken (anders 404)#}

</ul>



{% endblock %}

</body>
</html>