<!--{% extends "index.html" %}
{% block title %}Page Not Found - error 404{% endblock %}
{% block content %}
{# todo: use relative jinja urling thingy instead of "/" {{ url_for('index') }}  #}
  <p><a href="../templates/index.html">get back to the surface</a>
{% endblock %}-->

<!DOCTYPE HTML>

<html>
    <head>
        <title>PubMole - Digging for molecular truths</title>
        <link rel="stylesheet" href="../static/css/errors.css">
    </head>

	<body>
        <div class="filter">
        </div>

        <div class="error">
			<h1>404</h1>
            <p>This page might have dug itself a hole...</p>

            <a href="../index.html"><div class="btn">Get back to the surface safely</div></a>
        </div>
    </body>

</html>
